* {
  
  width: auto;
  background: #282c34;
}
.Container{
  background-color:  #282c34;
}
.App {
  background-color:  #282c34;;
  text-align: left;
}
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  font-size: calc(14px + 2vmin);
  color: wheat;
}

.App-link {
  color: #61dafb;
}
.Titulo {
  padding: 40px;
  margin: 20px;
}
.App-logo {
  height: 250px;
  padding-right: 10px;
  margin-right: 100px;
}
.Titulo1 {
  width: 270px;
}